.button {
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-right: 0;
  padding-bottom: 17px;
  padding-left: 0;
  border: 2px solid #444444;

  color: #444444;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
}
