.main-navigation__list {
  margin: 0;
  padding-left: 0;

  list-style: none;
  font-size: 17px;
  font-weight: bold;
}

.main-navigation__item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 76px;
}
