.contact__inner {
  padding-right: 30px;
  padding-left: 30px;
}

.contact__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact__item {
  margin-bottom: 40px;
}

.contact__image {
  margin-bottom: 38px;
}

.contact__button {
  margin-bottom: 40px;
}
