.impressions-slider__blockquote {
  margin: 0;
  padding: 0;
}

.impressions-slider__author-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.impressions-slider__author-contact {
  line-height: 30px;
}

.impressions-slider__buttons-wrapper {
  margin-bottom: 38px;
}

.impressions__button {
  margin-bottom: 45px;
}
